# Git
.git
.gitignore

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE / Editor specific
.vscode
.idea

# Environment files (if they contain secrets)
*.local